# ==============================================================================
# 
# YRGO-CAR - Code Formatting Configuration (.clang-format)
#
# ==============================================================================

BasedOnStyle: LLVM

UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

ColumnLimit: 80

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false

PointerAlignment: Right

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SortIncludes: false

